/* POLICES DE CARACTÈRES */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');

$head-font: "Shrikhand";
$body-font: "Roboto";

@mixin police-all($font: $body-font) {
  font-family: $font;
}

body {
  @include police-all;
}

a {
  text-decoration: none;
  color: black;
}

h3, h4:not(.slogan) {
  margin: 5px 0 0;
  text-overflow: ellipsis; /* rajoute 3 ptits points */
  white-space: nowrap; /* interdit le txt de revenir à la ligne */
  overflow: hidden; /* permet de cacher le txt qui dépasse */
  width: 80%;
}

h4 {
  font-weight: 300;
  font-size: large;
}