@charset "UTF-8";
/* Les couleurs */
/* POLICES DE CARACTÈRES */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
body {
  font-family: "Roboto";
}

a {
  text-decoration: none;
  color: black;
}

h3, h4:not(.slogan) {
  margin: 5px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80%;
  overflow: hidden;
}

h4 {
  font-weight: 300;
  font-size: large;
}

button:not(.resto-prev__like) {
  background: #FF79DA;
  background: -webkit-linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
  background: -moz-linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
  background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
  -webkit-text-fill-color: white;
  box-shadow: 0px 3px 5px 2px lightgrey;
  padding: 15px 20px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

.menu__commander-btn {
  padding: 15px 50px;
}

.bouton-Like:hover .full-heart-icon, .bouton-Like:active .full-heart-icon {
  opacity: 1;
}
.bouton-Like i {
  /* permet aux pictogrammes "<3" de se chevaucher */
  position: absolute;
}

.full-heart-icon {
  transition: all 2s ease-in-out;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}

.localisation {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 10px;
  background-color: #e5e5e5;
  position: relative;
  z-index: -1;
  margin-top: -3px;
}

.introduction {
  background-color: #F2F2F2;
  text-align-last: center;
  padding: 40px;
}

h1 {
  margin: 0;
}

.menu {
  background-color: #F2F2F2;
  border-radius: 45px 45px 0 0;
  padding: 30px 20px;
  /* afin de faire passer l'image en dessous : */
  margin-top: -45px;
  z-index: 1;
}
.menu__en-tete {
  display: flex;
  justify-content: space-between;
  width: 95%;
}
.menu__title {
  font-family: "Shrikhand";
  font-size: xx-large;
}
.menu__sstitle {
  font-size: large;
  font-weight: 400;
  border-bottom: 4px solid #99E2D0;
  width: 40px;
  padding-bottom: 5px;
}
.menu__prez {
  background-color: white;
  padding: 15px;
  border-radius: 20px;
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
  box-shadow: 0px 3px 3px 3px #ededed;
  position: relative;
}
.menu__commander {
  text-align: center;
}

span {
  position: absolute;
  right: 25px;
  bottom: 15px;
  font-weight: bold;
}

.fnt {
  padding: 30px 20px;
}

.fntContenu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.fnt-bloc {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-weight: 600;
}
.fnt-bloc__indication {
  display: flex;
  align-items: center;
  background-color: #F2F2F2;
  border-radius: 25px;
  width: 325px;
  height: 70px;
  text-indent: 15px;
  margin-left: 10px;
  box-shadow: 0px 3px 3px 3px #ededed;
}
.fnt-bloc__num {
  border-radius: 30px;
  background-color: #9356DC;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: absolute;
  font-size: small;
}
.fnt-bloc__picto :hover {
  color: #9356DC;
}

.fnt-bloc :hover, .fnt-bloc :active {
  color: #9356DC;
  background-color: #e4d5f6;
}

.gridresto {
  background-color: #F2F2F2;
  padding: 30px 20px;
}

.resto-prev {
  background-color: white;
  border-radius: 20px;
  width: 100%;
  height: 250px;
  margin-bottom: 20px;
  box-sizing: border-box;
  box-shadow: 0px 3px 3px 3px #ededed;
  position: relative;
}
.resto-prev__prez {
  margin: 10px 15px;
  position: relative;
}
.resto-prev__img {
  object-fit: cover;
  /* ajustement de l'image, rogner si besoin */
  width: 100%;
  height: 175px;
  border-radius: 15px 15px 0px 0px;
}
.resto-prev__like {
  position: absolute;
  right: 80px;
  bottom: 55px;
  font-size: larger;
  border: none;
  cursor: pointer;
}

.pastilleNV {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 5px 10px;
  border-radius: 2px;
  background: #99E2D0;
  color: #278870;
  font-size: smaller;
  font-weight: bold;
}

body {
  margin: 0;
}

.header__logo {
  box-shadow: 0 5px 5px lightgrey;
  /* effet diffus */
  background-color: white;
  height: 50px;
  padding: 5px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.header__logo--PageMenu {
  box-shadow: 0 2px 10px black;
}

.fa-arrow-left {
  position: absolute;
  left: 40px;
  top: 18px;
  font-size: x-large;
  color: #404040;
}

footer {
  background-color: #333333;
  color: white;
  padding: 15px 25px;
}

.footer__title--logo {
  font-family: "Shrikhand";
  font-size: larger;
}

.navendul {
  list-style-type: none;
  padding: 0;
}

.navend__item a {
  text-decoration: none;
  color: white;
  text-indent: 25px;
  /* pour alignt picto*/
}

.navend__item {
  margin-bottom: 10px;
}

.navend__item--picto {
  display: flex;
  flex-wrap: nowrap;
}

.navend__picto {
  position: absolute;
}

.entete-img {
  height: 300px;
  object-fit: cover;
  width: 100%;
  margin-top: -5px;
  position: relative;
  z-index: -1;
}

/*# sourceMappingURL=style.css.map */
