@charset "UTF-8";
/* Les couleurs */
/* POLICES DE CARACTÈRES */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
body {
  font-family: "Roboto";
}

a {
  text-decoration: none;
  color: black;
}

h3, h4:not(.slogan) {
  margin: 5px 0 0;
  text-overflow: ellipsis;
  /* rajoute 3 ptits points */
  white-space: nowrap;
  /* interdit le txt de revenir à la ligne */
  overflow: hidden;
  /* permet de cacher le txt qui dépasse */
  width: 80%;
}

h4 {
  font-weight: 300;
  font-size: large;
}

/* BOUTONS PRINCIPAUX */
/*#region*/
button {
  background: #FF79DA;
  background: -webkit-linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
  background: -moz-linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
  background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
  -webkit-text-fill-color: white;
  box-shadow: 0px 3px 5px 2px lightgrey;
  padding: 15px 20px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  transition: transform 300ms ease-in-out, box-shadow 350ms linear;
}
button:hover {
  transform: scale(1.1);
  box-shadow: 0px 3px 5px 2px grey;
  opacity: 0.9;
}

.menu__commander-btn {
  /* !!! la class n'est pas plus forte qu'un élément ??? */
  padding: 15px 50px;
  margin-top: 10px;
}

/*#endregion*/
/* BOUTONS "J'aime" */
/*#region*/
.bouton-Like {
  font-size: larger;
  border: none;
  cursor: pointer;
  background: transparent;
}
.bouton-Like i {
  /* permet aux pictogrammes "<3" de se chevaucher */
  position: absolute;
  font-size: 25px;
}
.bouton-Like:hover .full-heart-icon, .bouton-Like:active .full-heart-icon {
  opacity: 1;
}

.full-heart-icon {
  transition: all 600ms ease-in-out;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}

/*#endregion*/
/* Essai transition avec input*/
/*#region*/
/*#endregion*/
.localisation {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 10px;
  background-color: #e5e5e5;
  position: relative;
  z-index: 1;
  padding-top: 60px;
}

.introduction {
  background-color: #F2F2F2;
  text-align-last: center;
  padding: 40px;
}

h1 {
  margin: 0;
}

/* MISE EN PAGE : */
/*#region*/
.menu {
  background-color: #F2F2F2;
  border-radius: 45px 45px 0 0;
  padding: 30px 20px;
  /* afin de faire passer l'image en dessous : */
  margin-top: -45px;
  z-index: 1;
}
@media (min-width: 769px) {
  .menu {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
  }
}
.menu__en-tete {
  display: flex;
  justify-content: space-between;
  width: 95%;
  position: relative;
}
@media (min-width: 769px) {
  .menu__en-tete {
    justify-content: center;
  }
}
.menu__title {
  font-family: "Shrikhand";
  font-size: xx-large;
}
.menu__sstitle {
  font-size: large;
  font-weight: 400;
  border-bottom: 4px solid #99E2D0;
  width: 40px;
  padding-bottom: 5px;
}
.menu__prez {
  background-color: white;
  padding: 15px;
  border-radius: 20px;
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
  box-shadow: 0px 3px 3px 3px #ededed;
  position: relative;
  overflow: hidden;
  height: 85px;
}
.menu__commander {
  text-align: center;
  width: 100%;
}
.menu__like {
  position: absolute;
  right: 15px;
  bottom: 38px;
}

span {
  position: absolute;
  right: 25px;
  bottom: 15px;
  font-weight: bold;
}

.menuListe {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
}

/*#endregion*/
/* ANIMATION DE L'ENCOCHE VERTE */
/*#region*/
.menu__anim {
  background: #99E2D0;
  color: white;
  width: 80px;
  height: 90px;
  float: right;
  margin-right: -95px;
  margin-top: -70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu__anim i {
  transform: scale(0.1) rotate(-1turn);
  transition: transform 700ms ease-in-out;
}

.menu__prix, .menu__anim, h3, h4 {
  transition: transform 700ms ease-in-out;
}

.menu__prez:hover, .menu__prez:active {
  cursor: pointer;
}
.menu__prez:hover .menu__prix, .menu__prez:hover .menu__anim, .menu__prez:active .menu__prix, .menu__prez:active .menu__anim {
  transform: translateX(-80px);
}
.menu__prez:hover i, .menu__prez:active i {
  transform: scale(1) rotate(0turn);
}
.menu__prez:hover h3, .menu__prez:hover h4, .menu__prez:active h3, .menu__prez:active h4 {
  width: calc(80% - 80px);
}

/*#endregion*/
/* APPARITION DES REPAS UN PAR UN "Stagger" = échelonner */
/*#region*/
.menu__prez {
  opacity: 0;
  animation: apparition 2s forwards;
}
.menu__prez:nth-child(1) {
  animation-delay: 200ms;
}
.menu__prez:nth-child(2) {
  animation-delay: 400ms;
}
.menu__prez:nth-child(3) {
  animation-delay: 600ms;
}
.menu__prez:nth-child(4) {
  animation-delay: 800ms;
}
.menu__prez:nth-child(5) {
  animation-delay: 1000ms;
}
.menu__prez:nth-child(6) {
  animation-delay: 1200ms;
}
.menu__prez:nth-child(7) {
  animation-delay: 1400ms;
}
.menu__prez:nth-child(8) {
  animation-delay: 1600ms;
}
.menu__prez:nth-child(9) {
  animation-delay: 1800ms;
}
.menu__prez:nth-child(10) {
  animation-delay: 2000ms;
}
.menu__prez:nth-child(11) {
  animation-delay: 2200ms;
}
.menu__prez:nth-child(12) {
  animation-delay: 2400ms;
}
.menu__prez:nth-child(13) {
  animation-delay: 2600ms;
}
.menu__prez:nth-child(14) {
  animation-delay: 2800ms;
}
.menu__prez:nth-child(15) {
  animation-delay: 3000ms;
}
.menu__prez:nth-child(16) {
  animation-delay: 3200ms;
}
.menu__prez:nth-child(17) {
  animation-delay: 3400ms;
}
.menu__prez:nth-child(18) {
  animation-delay: 3600ms;
}
.menu__prez:nth-child(19) {
  animation-delay: 3800ms;
}
.menu__prez:nth-child(20) {
  animation-delay: 4000ms;
}
.menu__prez:nth-child(21) {
  animation-delay: 4200ms;
}
.menu__prez:nth-child(22) {
  animation-delay: 4400ms;
}
.menu__prez:nth-child(23) {
  animation-delay: 4600ms;
}
.menu__prez:nth-child(24) {
  animation-delay: 4800ms;
}
.menu__prez:nth-child(25) {
  animation-delay: 5000ms;
}
.menu__prez:nth-child(26) {
  animation-delay: 5200ms;
}
.menu__prez:nth-child(27) {
  animation-delay: 5400ms;
}
.menu__prez:nth-child(28) {
  animation-delay: 5600ms;
}
.menu__prez:nth-child(29) {
  animation-delay: 5800ms;
}
.menu__prez:nth-child(30) {
  animation-delay: 6000ms;
}
.menu__prez:nth-child(31) {
  animation-delay: 6200ms;
}
.menu__prez:nth-child(32) {
  animation-delay: 6400ms;
}
.menu__prez:nth-child(33) {
  animation-delay: 6600ms;
}
.menu__prez:nth-child(34) {
  animation-delay: 6800ms;
}
.menu__prez:nth-child(35) {
  animation-delay: 7000ms;
}
.menu__prez:nth-child(36) {
  animation-delay: 7200ms;
}
.menu__prez:nth-child(37) {
  animation-delay: 7400ms;
}
.menu__prez:nth-child(38) {
  animation-delay: 7600ms;
}
.menu__prez:nth-child(39) {
  animation-delay: 7800ms;
}
.menu__prez:nth-child(40) {
  animation-delay: 8000ms;
}
.menu__prez:nth-child(41) {
  animation-delay: 8200ms;
}
.menu__prez:nth-child(42) {
  animation-delay: 8400ms;
}
.menu__prez:nth-child(43) {
  animation-delay: 8600ms;
}
.menu__prez:nth-child(44) {
  animation-delay: 8800ms;
}
.menu__prez:nth-child(45) {
  animation-delay: 9000ms;
}
.menu__prez:nth-child(46) {
  animation-delay: 9200ms;
}
.menu__prez:nth-child(47) {
  animation-delay: 9400ms;
}
.menu__prez:nth-child(48) {
  animation-delay: 9600ms;
}
.menu__prez:nth-child(49) {
  animation-delay: 9800ms;
}
.menu__prez:nth-child(50) {
  animation-delay: 10000ms;
}

@keyframes apparition {
  0% {
    transform: translateY(20px);
    opacity: 0.1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
/*#endregion*/
.fnt {
  padding: 30px 20px;
}

.fntContenu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.fnt-bloc {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-weight: 600;
}
.fnt-bloc__indication {
  display: flex;
  align-items: center;
  background-color: #F2F2F2;
  border-radius: 25px;
  width: 325px;
  height: 70px;
  text-indent: 15px;
  margin-left: 10px;
  box-shadow: 0px 3px 3px 3px #ededed;
}
.fnt-bloc__num {
  border-radius: 30px;
  background-color: #9356DC;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: absolute;
  font-size: small;
}

.fnt-bloc :hover, .fnt-bloc :active {
  background-color: #e4d5f6;
}

.fnt-bloc:hover .fnt-bloc__picto, .fnt-bloc:active .fnt-bloc__picto {
  color: #9356DC;
}

.gridresto {
  background-color: #F2F2F2;
  padding: 30px 20px;
}

.restoListe {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.resto-prev {
  background-color: white;
  border-radius: 20px;
  width: 450px;
  height: 250px;
  margin-bottom: 20px;
  box-sizing: border-box;
  box-shadow: 0px 3px 3px 3px #ededed;
  position: relative;
}
@media (max-width: 768px) {
  .resto-prev {
    width: 100%;
  }
}
.resto-prev__prez {
  margin: 10px 15px;
  position: relative;
}
.resto-prev__img {
  object-fit: cover;
  /* ajustement de l'image, rogner si besoin */
  width: 100%;
  height: 175px;
  border-radius: 15px 15px 0px 0px;
}
.resto-prev__like {
  position: absolute;
  right: 50px;
  bottom: 50px;
}

/* PASTILLE "Nouveau" */
.pastilleNV {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 5px 10px;
  border-radius: 2px;
  background: #99E2D0;
  color: #278870;
  font-size: smaller;
  font-weight: bold;
}

body {
  margin: 0;
}

.header__logo {
  position: fixed;
  width: 100%;
  z-index: 2;
  box-shadow: 0 5px 5px lightgrey;
  /* effet diffus */
  background-color: white;
  height: 50px;
  padding: 5px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.header__logo--PageMenu {
  box-shadow: 0 2px 10px black;
}

h1, h4.slogan {
  text-align: center;
}

.fa-arrow-left {
  position: absolute;
  left: 40px;
  top: 18px;
  font-size: x-large;
  color: #404040;
}

/* APPARITION ET DISPARITON du LOADING SCREEN */
/*#region*/
.logo {
  font-size: 60px;
  font-family: "Shrikhand";
  background: #9356DC;
  background: -webkit-repeating-linear-gradient(to right, #9356DC 0%, #FF79DA 50%, #9356DC 100%);
  background: -moz-repeating-linear-gradient(to right, #9356DC 0%, #FF79DA 50%, #9356DC 100%);
  background: repeating-linear-gradient(to right, #9356DC 0%, #FF79DA 50%, #9356DC 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.LoadingSpinner {
  text-align: center;
  background-color: #F2F2F2;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0;
  display: block;
  animation: LoadingAnim 3s forwards;
  padding-top: 100px;
}

@keyframes LoadingAnim {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  99% {
    z-index: 10;
  }
  100% {
    opacity: 0;
    z-index: -100;
  }
}
/*#endregion*/
/* ANIMATION DES CERCLES / ONDULATIONS */
/*#region*/
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid darkgray;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
/*#endregion*/
footer {
  background-color: #333333;
  color: white;
  padding: 15px 25px;
}

.footer__title--logo {
  font-family: "Shrikhand";
  font-size: larger;
}

.navendul {
  list-style-type: none;
  padding: 0;
}

.navend__item {
  margin-bottom: 10px;
}
.navend__item a {
  text-decoration: none;
  color: white;
  text-indent: 25px;
  /* pour alignt picto*/
}

.navend__item--picto {
  display: flex;
  flex-wrap: nowrap;
}

.navend__picto {
  position: absolute;
}

.entete-img {
  height: 300px;
  object-fit: cover;
  width: 100%;
  margin-top: -5px;
  position: relative;
  z-index: -1;
}

/*# sourceMappingURL=style.css.map */
