.header {
  &__logo {
    position: fixed;
    width: 100%;
    z-index: 2;
    box-shadow: 0 5px 5px lightgrey;  /* effet diffus */
    background-color: white;
    height: 50px;
    padding: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

.header__logo--PageMenu /* effet ombré */
{
  box-shadow: 0 2px 10px black;
}

h1, h4.slogan {
  text-align: center;
}

.fa-arrow-left /* picto "<-" retour Accueil */ {
  position: absolute;
  left: 40px;
  top: 18px;
  font-size: x-large;
  color: darken($color-back, $amount: 70%);
}
