/* BOUTONS PRINCIPAUX */ /*#region*/
button:not(.bouton-Like) {
// COULEUR
  background: $color-secondary;
  background: -webkit-linear-gradient(to bottom, $color-secondary 0%, $color-primary 100%);
  background: -moz-linear-gradient(to bottom, $color-secondary 0%, $color-primary 100%);
  background: linear-gradient(to bottom, $color-secondary 0%, $color-primary 100%);
  -webkit-text-fill-color: white;
// OMBRE
  box-shadow: 0px 3px 5px 2px lightgrey;
//FORME
  padding: 15px 20px;
  border-radius: 30px;
  border: none;
//EFFET
cursor: pointer;
}

.menu__commander-btn { /* !!! la class n'est pas plus forte qu'un élément ??? */
  padding: 15px 50px;
  }
/*#endregion*/

/* BOUTONS "J'aime" */ /*#region*/
.bouton-Like {
  font-size: larger;
  border: none;
  cursor: pointer;
  background: transparent;
  i { /* permet aux pictogrammes "<3" de se chevaucher */
    position: absolute; 
  }
  &:hover,
  &:active {
    .full-heart-icon {
      opacity: 1;
    }
    i {
    color: transparent; /* à améliorer */
    }
  }
}

// TRANSITION & COULEURS DU COEUR :
.full-heart-icon {
  transition: all 2s ease-in-out;
  background: -webkit-linear-gradient($color-primary,$color-secondary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}
/*#endregion*/