/* BOUTONS PRINCIPAUX */ /*#region*/
button{
// COULEUR
  background: $color-secondary;
  background: -webkit-linear-gradient(to bottom, $color-secondary 0%, $color-primary 100%);
  background: -moz-linear-gradient(to bottom, $color-secondary 0%, $color-primary 100%);
  background: linear-gradient(to bottom, $color-secondary 0%, $color-primary 100%);
  -webkit-text-fill-color: white;
// OMBRE
  box-shadow: 0px 3px 5px 2px lightgrey;
//FORME
  padding: 15px 20px;
  border-radius: 30px;
  border: none;
// EFFET
cursor: pointer;
// TRANSITION
  &:hover{
    transform: scale(1.1);
    box-shadow: 0px 3px 5px 2px grey;
    opacity: 0.9;
  }
transition: transform 300ms ease-in-out, box-shadow 350ms linear;
}

.menu__commander-btn { /* !!! la class n'est pas plus forte qu'un élément ??? */
  padding: 15px 50px;
}

/*#endregion*/

/* BOUTONS "J'aime" */ /*#region*/
.bouton-Like {
  font-size: larger;
  border: none;
  cursor: pointer;
  background: transparent;
  i { /* permet aux pictogrammes "<3" de se chevaucher */
    position: absolute; 
  }
  &:hover,
  &:active {
    .full-heart-icon {
      opacity: 1;
    }
    // i {
    // color: transparent; /* enlève la bordure noire */
    // }
  }
}

// TRANSITION & COULEURS DU COEUR :
.full-heart-icon {
  transition: all 600ms ease-in-out;
  background: -webkit-linear-gradient($color-primary,$color-secondary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}
/*#endregion*/

/* Essai transition avec input*/ /*#region*/
// La transition de la couleur ne marche pas

// HTML utilisé : 
// <div class="resto-prev__like bouton-Like">
// <input type="checkbox" class="checkbox-Like">
// <i class="fas fa-heart fa-2x full-heart-icon"></i>
// </div>

// CSS correspondant : 
// .resto-prev-Like {
//   // pour coller aux dimensions du pictogramme coeur :
//   width: 32px;
//   height: 32px;
//   // positionnement :
//   right: 40px;
//   bottom: 25px;
// }

// input.checkbox-Like {
//   width: 100%;
//   height: 100%;
//   margin: 0;
//   position: absolute;
//   z-index: 1;
//   opacity: 0;
// }

// .bouton-Like {
//   border: none;
//   cursor: pointer;
//   position: absolute; /* pour pouvoir le positionner dans le preview */
// }
// .full-heart-icon {
//   transition: all 1.5s ease-in-out;
// }
// .bouton-Like input:checked ~ .full-heart-icon{  
//   font-weight: 900;
//   background: -webkit-linear-gradient($color-primary,$color-secondary);
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
//   transform: scale(1.1);
// }
// .bouton-Like input:not(:checked) ~ .full-heart-icon{  
//   font-weight: 400;
// }
/*#endregion*/