.fnt {
  padding: 30px 20px;
} 

.fntContenu{
  display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.fnt-bloc {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-weight: 600;

  &__indication {
    display: flex;
    align-items: center;
    background-color: $color-back;
    border-radius: 25px;
    width: 325px;
    height: 70px;
    text-indent: 15px;
    margin-left: 10px;
    box-shadow: 0px 3px 3px 3px darken($color-back, $amount: 2%);
  }

  &__num {
    border-radius: 30px;
    background-color: $color-primary;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: absolute;
    font-size: small;
  }
  
  &__picto :hover{
    color: $color-primary;
  }
}

.fnt-bloc :hover, :active{
  color: $color-primary;
  background-color: lighten($color: $color-primary, $amount: 30%);
}