.gridresto {
background-color: $color-back;
padding: 30px 20px;
}

.resto-prev /* une card */
{
  background-color: white;
  border-radius: 20px;
  width: 100%;
  height: 250px;
  margin-bottom: 20px;
  box-sizing: border-box;
  box-shadow: 0px 3px 3px 3px darken($color-back, $amount: 2%);
  position: relative; // pour la patille "nouveau"

  &__prez {
    margin: 10px 15px;
    position: relative;
  }  

  &__img {
    object-fit: cover; /* ajustement de l'image, rogner si besoin */
    width: 100%;
    height: 175px;
    border-radius: 15px 15px 0px 0px;
  }

  &__like {
    position: absolute;
    right: 80px;
    bottom: 55px;
    font-size: larger;
    border: none;
    cursor: pointer;
  }

    // &:hover,
    // &:active {
    //   .full-heart-icon {
    //     opacity: 1;
    //   }
    // }

    // i { /* permet aux pictogrammes "<3" de se chevaucher */
    //   position: absolute; 
    // }
  }

// PASTILLE "Nouveau" :
.pastilleNV {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 5px 10px;
  border-radius: 2px;
// COULEUR
  background: $color-tertiary;
  color: darken($color-tertiary, $amount: 40%);
// POLICE
  font-size: smaller;
  font-weight: bold;
}
